/* Small devices such as large phones (640px and up) */
@media only screen and (max-width: 40em) {
  #linktree-shape {}
  
  .profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }
  
  #social-hyperlinks-group {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .social-link {
    width: 75%;
    border: 1px solid #000;
    border-radius: 0.3em;
    
    margin-bottom: 0.4em;
    padding-top: 5px;
    padding-bottom: 5px;
    
    text-align: center;
    font-size: 1.2em;
  }
}
